.root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
}

.form_wrap {
  width: 450px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 4px 20px rgba(0,0,0,.3);
  padding: 24px 24px 0;
}
