.root {
  color: #00ffff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  //max-width: 70vw;
  box-shadow: 0 4px 108px 0 rgba(0,0,0,0.9);
  background-image: linear-gradient(to top, rgba(26, 40, 120, 0.7), rgba(10, 143, 196, 0.7));
  margin: 20px auto;
}

h2 {
  justify-content: center;
}

.form {
  margin-bottom: 24px;

  input {
    height: 16px;
    padding: 6px;
    //border: 1px solid #00ffff;
    margin: 5px;
    background-color: white;
  }

  button {
    height: 28px;
  }
}
