.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  //width: 93%;
  //margin-bottom: 12px;
  //padding: 0 12px;
}

.card {
  font-size: 18px;
  text-align: center;
  margin: 12px;
  cursor: pointer;
  perspective: 1000px;
  height: 32px;
  width: 140px;

  &.done {
    .cardInner {
      transform: rotateX(180deg);
    }
  }
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 6px;
  border: 2px solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #1BB95E;
  color: white;
  transform: rotateX(-180deg);
}

.isRemembered {
  .cardFront,
  .cardBack {
    text-decoration: line-through;
  }
}

.icons {
  font-size: 26px;
  cursor: pointer;

  &:hover {
    color: #1BB95E;
  }

  &.deleted {
    &:hover {
      color: red;
    }
  }
}
